.top-layout {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 56px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    box-shadow: 0 0 3px 1px #eee;
}

.top-layout .font-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logo {
    display: flex;
    color: #f1f1f1;
}

.logo .app-name {
    font-family: qiantu, sans-serif;
    font-size: 36px;
}

.logo .app-beta {
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-left: 15px;
    padding: 0 5px;
    font-weight: 100;
}

.logo .app-desc {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
}


.time {
    width: 110px;
    display: flex;
    flex-direction: column;
}

.time .hms {
    font-family: zhenshuai, sans-serif;
    font-size: 36px;
}

.user-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*字体*/

@font-face {
    font-family: 'zhenshuai';
    /* 您可以为字体选择任何名称 */
    src: url('/font/zhenshuai.ttf') format('truetype');
    font-display: swap;
    /* 如果还有其他字体格式，如.woff或.woff2，您也可以在这里添加它们以提高兼容性 */
}


@font-face {
    font-family: 'qiantu';
    /* 您可以为字体选择任何名称 */
    src: url('/font/qiantu.ttf') format('truetype');
    font-display: swap;
    /* 如果还有其他字体格式，如.woff或.woff2，您也可以在这里添加它们以提高兼容性 */
}


/* 基本样式 */


.full {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}


.vhcenter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.v_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h_center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fs12 {
    font-size: 12px;
}

.mr2 {
    margin-right: 2px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml5 {
    margin-left: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}


.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mt50 {
    margin-top: 50px;
}

.white-font {
    color: #f1f1f1;
}

.gray {
    color: gray;
}

.over-auto {
    overflow: auto;
}

.long-text-pre {
    word-break: break-all;
    white-space: pre-wrap;
}