.root-manage {
    width: 100%;
    height: 100%;
}

.portal-edit-modal {
    height: 600px;
    display: flex;

    .edit-left {
        flex: 1;
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-div {
            position: relative;
        }

        .word-event {
            position: absolute;
            cursor: pointer;
        }

        .circle-event {
            position: absolute;
            background: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.1s linear;

            &:hover {
                box-shadow: 0 0 10px 0px #aaa;
            }
        }
    }

    .divide-line {
        width: 5px;
        background: #6bbaff;
        margin: 0 5px;
        border-radius: 3px;
    }

    .edit-right {
        .ant-picker-input {
            flex-wrap: nowrap;
        }

        .form-item-events {
            height: 330px;

            .ant-tabs-nav {
                margin-bottom: 10px;
            }

            .ant-slider {
                margin: 0;
            }
        }
    }
}