.root-manage {
    width: 100%;
    height: 100%;
}

.portal-edit-modal {
    height: 600px;
    display: flex;

    .edit-left {
        flex: 1;
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-div {
            position: relative;
        }

        .word-event {
            position: absolute;
            cursor: pointer;
        }

        .circle-event {
            position: absolute;
            background: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.1s linear;

            &:hover {
                box-shadow: 0 0 10px 0px #aaa;
            }
        }
    }

    .divide-line {
        width: 5px;
        background: #6bbaff;
        margin: 0 5px;
        border-radius: 3px;
    }

    .edit-right {
        .ant-picker-input {
            flex-wrap: nowrap;
        }

        .form-item-events {
            height: 330px;

            .ant-tabs-nav {
                margin-bottom: 10px;
            }

            .ant-slider {
                margin: 0;
            }
        }
    }
}

.topview-manage {
    width: 100%;
    height: 100%;
    color: #000000e0;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .manage {
        flex: 1;
        overflow: hidden;

        .manage-class {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 20px;

            .func-s {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .manage-table {
                .ant-table {
                    .ant-table-cell-fix-left {
                        background: #f6f6f6;
                    }
                }

                .score-func-space {


                    .ded-score-btn {
                        padding: 2px 5px;
                        background: #a0d1ff;
                        color: #fff;
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.topview-manage-m-person-modal {

    .topview-manage-m-person {
        width: 100%;
        height: 500px;
        overflow: auto;
    }
}