.viewer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #121212;
    color: #f1f1f1;

    .view-top {

        .ant-tabs {
            margin: 0 30px;
            width: 100%;

            .ant-tabs-nav {
                margin: 0;
                flex: 1;

                &::before {
                    border-color: transparent;
                }

                .ant-tabs-tab {
                    color: #fff;
                    margin-left: 15px;
                }

                .ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: #05fafa;
                }

                .ant-tabs-ink-bar {
                    background: #05fafa;
                }
            }

            .ant-tabs-content-holder {
                flex: unset;
            }
        }
    }

    .content {
        padding: 20px;
        display: flex;
        color: #f1f1f1;
        overflow: auto;

        .left-content {
            display: flex;
            flex-direction: column;

            .statics {
                flex: 1;
                margin: 50px 0 0 30px;
                display: flex;
                flex-direction: column;
                color: #f1f1f1;

                .item {
                }

                .item-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .item-box {
                        flex: 1;
                        color: #121212;
                        background: linear-gradient(270deg, #aaaaaa, #f1f1f1);
                        border-radius: 15px;
                        margin: 5px 0;
                        padding: 5px;
                        display: flex;
                        align-content: center;
                        justify-content: center;

                        .title {
                            flex: 1;
                            margin: 0 15px;
                            font-weight: bold;
                        }

                        .number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 2px 5px;
                            background: #05fafa;
                            border-radius: 15px;
                        }
                    }
                }

                .item-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .item-4 {

                }
            }

            .suffix-portal {
                margin: 0 0 50px 30px;

                .suffix-btn {
                    font-size: 18px;
                    color: #e1e1e1;
                    padding: 10px 30px;
                    font-family: inherit;
                    font-weight: 800;
                    cursor: pointer;
                    position: relative;
                    border: none;
                    background: none;
                    text-transform: uppercase;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: color, transform;
                }

                .suffix-btn:focus,
                .suffix-btn:hover {
                    color: #fff;
                    transform: scale(1.2);
                }

                .suffix-btn:focus:after,
                .suffix-btn:hover:after {
                    width: 100%;
                    left: 0%;
                }

                .suffix-btn:after {
                    content: "";
                    pointer-events: none;
                    bottom: -2px;
                    left: 50%;
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: width, left;
                }
            }

        }

        .right-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .ant-result-title,
        .ant-result-subtitle {
            color: #f1f1f1;
        }
    }

    .content-main {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-div {
            position: relative;
        }

        .word-event {
            position: absolute;
            cursor: pointer;
        }

        .circle-event {
            position: absolute;
            background: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                box-shadow: 0 0 10px 0px #aaa;
            }
        }
    }
}

.top-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #121212;
    color: #f1f1f1;

    .top-container {
        display: flex;

        .active {
            color: #50fafa;
        }
    }

    .content-container {

    }
}